div[class="to-left"]
  = link_to "Guide", guide_path, class: "#{'bold' if controller_name == 'guide'}"

div[class="to-left"]
  = link_to "Manage Categories", categories_path, class: "#{'bold' if controller_name == 'categories'}"
