/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (min-width: 1200px) {
  body {padding-bottom: 100px;}
  .container {
    width: 1170px;
  }
}

ul { list-style-type: none; margin: 0px;}

header {
  color: #F0F0F0;
  background: #00518F;
  padding: 10px 10px;
}

.clear-float { overflow: auto; }

.bold { font-weight: bold;}

.clear { clear: both }

.notice {
  color: blue;
  font-weight: bold;
}

.drop-box { width: 500px; }

.menu { margin-right: 30px; }

.menu ul { margin: 0px; }

.to-left { float: left; }

.voffset2 { margin-top: 10px; }

.voffset4 { margin-top: 30px; }

.voffset6 { margin-top: 60px; }

.actions > div {float: left; margin-right: 10px;}

nav ul {
    list-style: none outside none;
}

.menu li {
    padding-bottom: 15px;
    vertical-align: middle;
}

.menu li a.menu-selected {
    background-color: #C5D9EB;
    color: #00518F;
    display: block;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}

.menu li a {
    color: #00518F;
    display: block;
    font-size: 15px;
    padding:5px;

    text-decoration: none;
    width: 100%;
}

.menu a:hover {
  background-color: #C5D9EB;
}

.border-row { border-bottom: 2px solid #ccc; }


.autocomplete-w1 { background:url(/assets/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; } 
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; } 
.autocomplete .selected { background:#F0F0F0; } 
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; } 
.autocomplete strong { font-weight:normal; color:#3399FF; } 

.hide-me { display: none; }

div.ajax-loader {
    width: 160px; 
    font-style: italic; 
    position: fixed; 
    top: 0px;
    left: 5px;  
}

.errors li { color: red; margin-bottom: 5px; }

.border { border-bottom: 2px solid #ccc; }

.buttons div { float: left; margin-right: 15px;}

.data h1 { margin-bottom: 30px; }

a.app-menu-selected {
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    display: block;
    color: #00518F;
    background-color: #C5D9EB;
}

.nav-bar { width: 100%; }

.main-menu > div { margin-right: 20px; }

.nav-bar a { color: white; }

.keys { float: right }
.keys > div { margin-right: 20px; }

.spacer { border-bottom: 1px solid #ccc; }

.footer { margin-top: 60px; border-top: 2 px solid #ccc; }

.margin > div { margin-right: 5px;}

#error_explanation { margin-bottom: 30px; }

.new_user {
  i { display: block; }
  br { display: none; }
}

a.logo:hover { text-decoration: none; }

