// Place all the styles related to the Credentials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pass-info > div { margin-bottom: 5px; }
.pass-info > div > div:nth-child(even) { padding-left: 20px; }
.pass-info > div > div:nth-child(odd) { font-weight: bold; }

.dot { font: 3em/0.3 "Georgia","Apple Symbols",serif; margin-right: 10px;}
.pass-info > div { clear: both; overflow: auto; }
.pass { overflow: hidden; }
.pass > div { float: left; }
label[for="credential_password"] {margin-right: 10px;}

.actions > div { float: left; margin-right: 15px; }

.credentials > div {
  margin-bottom: 25px;
}